
.settings{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}

.input{
    font-family: var(--ff-body);
    text-align: center;
    width: 128px;
    margin-top: 16px;
    border: none;
    padding-bottom: 8px;
    border-bottom: 1px solid #9A9A9A;
}

.settings--vl{
    border-left: 1px solid rgb(222, 222, 222);
    height: 80%;
}

.settings--key-copy{
    max-width: 240px;
    text-align: center;
}

.settings--edit-icon{
    position: absolute;
    background-color: var(--clr-white);
    border: 0;
    right: 0;
    bottom: 0;
    z-index: 2;
}

.settings--key{
    width: 50vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 16px;
}

.settings--avatar{
    width: 50vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.settings--outer-wrapper{
    position: relative;
    width: 112px;
    height: 112px;
    overflow: visible;
    display: flex;
    align-items: center;
    justify-content: center;
}

.settings--inner-wrapper{
    overflow: visible;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 16px;
}

/* || avatar */

.avatar{
    display: flex;
    flex-direction: row;
    margin: -16px 0 0 0;
    padding: 8px 16px;
    border: 1px solid black;
    border-radius: 4px;
    gap: 8px;
    background-color: var(--clr-white);
    z-index: 2;
}

.avatar--selector{
    background-color: var(--clr-white);
    border: 0;
}

.avatar---avatar{
    width: 80px;
    height: 80px;
    margin: 16px;
}

/* || selection */

.selection{
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 16px;
}

.selection--options{
    display: flex;
    flex-direction: row;
    gap: 120px;
    margin-top: 16px
}

.selection--option{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 300px;
    gap: 16px
}

.selection--option p {
    text-align: center;
}