@import url('https://fonts.googleapis.com/css2?family=Patrick+Hand&family=Roboto+Mono&display=swap');

body{
  margin: 0;
  padding: 0;
}

p{
  font-family: 'Patrick Hand', cursive;
}

a:link {
  text-decoration: none; 
  color: black;
}

a:visited { 
  text-decoration: none; 
  color: black;
}

a:hover { 
  text-decoration: none; 
  color: black;
}

a:active { 
  text-decoration: none; 
  color: black;
}

