@import url('https://fonts.googleapis.com/css2?family=Patrick+Hand&family=Roboto+Mono&display=swap');

*{
    margin: 0;
    padding: 0;
}

.input{
  width: 100%;
  box-sizing:border-box;
  margin: 0 !important;
}

:root{
  --clr-white: #FFFFFF;
  --clr-grey-lightest: #F5F5F5;
  --clr-grey-light: #E3E3E3;
  --clr-grey-default: #A4A4A4;
  --clr-grey-dark: #707070;
  --clr-grey-darkest: #444444;
  --clr-black: #2C2C2C;
  --clr-cream: #FCFAF6;
  --clr-accent-light: #FDF3F3;
  --clr-accent: #FEEAEA;
  --clr-accent-dark: #FBD6D6;
  --clr-error: #C23232;
}

h1, p{
  font-family: 'Patrick Hand', cursive;
}

label{
  font-family: 'Patrick Hand', cursive;
}

a:link {
  text-decoration: none; 
  color: black;
}

a:visited { 
  text-decoration: none; 
  color: black;
}

a:hover { 
  text-decoration: none; 
  color: black;
}

a:active { 
  text-decoration: none; 
  color: black;
}

.avatar-small{
  width: 36px;
  height: 36px;
}