@import url('https://fonts.googleapis.com/css2?family=Patrick+Hand&family=Roboto+Mono&display=swap');

*{
    margin: 0;
    padding: 0;
}

.input{
  width: 100%;
  box-sizing:border-box;
  margin: 0 !important;
}

:root{
    --text: #2C2C2C;
    --stroke-light: #E3E3E3;
    --stroke-default: #A4A4A4;
    --stroke-dark: #707070;
    --stroke-brown: #CDC1B3;
    --background-white: #FFFFFF;
    --background-grey: #F5F5F5;
    --accent: #FEEAEA;
    --accent-hover: #fee4e4;
}

h1, p{
  font-family: 'Patrick Hand', cursive;
}

label{
  font-family: 'Patrick Hand', cursive;
}

a:link {
  text-decoration: none; 
  color: black;
}

a:visited { 
  text-decoration: none; 
  color: black;
}

a:hover { 
  text-decoration: none; 
  color: black;
}

a:active { 
  text-decoration: none; 
  color: black;
}

.avatar-small{
  width: 36px;
  height: 36px;
}