@import url("https://fonts.googleapis.com/css2?family=Patrick+Hand&family=Roboto+Mono&display=swap");

*{
    margin: 0;
    padding: 0;
}

:root{
  --clr-white: #FFFFFF;
  --clr-grey-lightest: #F5F5F5;
  --clr-grey-light: #E3E3E3;
  --clr-grey-default: #A4A4A4;
  --clr-grey-dark: #707070;
  --clr-grey-darkest: #444444;
  --clr-black: #2C2C2C;
  --clr-cream: #FCFAF6;
  --clr-accent-light: #FDF3F3;
  --clr-accent: #FEEAEA;
  --clr-accent-dark: #FBD6D6;
  --clr-error: #C23232;
  --clr-active: #275DC5;

  --ff-heading: "Patrick Hand", cursive;
  --ff-body: "Roboto Mono", monospace;

  --fs-heading: 1.5rem;
  --fs-logo: 1.375rem;
  --fs-body-large: 1rem;
  --fs-body-regular: 0.875rem;
  --fs-body-small: 0.75rem;
}

h1, h2, h3 {
  font-family: var(--ff-heading);
  font-size: var(--fs-heading);
}

p, label, li {
  font-family: var(--ff-body);
  font-size: var(--fs-body-regular);
}

.body-large{
  font-size: var(--fs-body-large);
  font-weight: bolder;
}

.body-small{
  font-size: var(--fs-body-small);
}

.body-x-small{
  font-size: var(--fs-body-x-small);
}

input{
  font-family: var(--ff-body);
  width: 100%;
  box-sizing:border-box;
  margin: 0 !important;
  text-align: center;
}

a:link {
  text-decoration: none; 
  color: black;
}

a:visited { 
  text-decoration: none; 
  color: black;
}

a:hover { 
  text-decoration: none; 
  color: black;
}

a:active { 
  text-decoration: none; 
  color: black;
}

.avatar-small{
  width: 36px;
  height: 36px;
}

.bold{
  font-weight: bolder;
}