.home{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
    background-image:  linear-gradient(#E3E1DD 1px, transparent 1px), linear-gradient(to right, #E3E1DD 1px, #FCFAF6 1px);
    background-size: 32px 32px;
}

.home--background{
    height: 100%;
    width: 100%;
    background: url("../../assets/background.png") no-repeat center center;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
}

.home--logo{
    max-width: 320px;
}

.home--form{
    display: flex;
    flex-direction: column;
    gap: 8px;
    text-align: center;
    background: var(--clr-white);
    border: 1px solid var(--clr-grey-default);
    border-radius: 16px;
    padding: 48px 48px;
}

.home--line-block {
    width: 100%; 
    text-align: center; 
    border-bottom: 1px solid #000; 
    line-height: 0.1em;
    margin: 4px 0 4px; 
} 
 
.home--line-block span{ 
    background: var(--clr-white); 
    padding:0 10px; 
}

.home--key-form{
    display: flex;
    flex-direction: column;
}

.enter-key{
    text-align: left;
}

.key-format{
    text-align: right;
    color: var(--error)
}

.home--key-input{
    padding: 12px;
    text-align: center;
}

.home p {
    margin-bottom: 12px;
}