.canvas--palette{
    position: absolute;
    bottom: 16px;
    border: 1px solid #E3E3E3;
    border-radius: 8px;
}

.canvas--icon-wrapper{
    padding: 8px;
}

.canvas--icon{
    width: 20px;
    height: 20px;
}

.canvas{
    background-color: var(--background-grey);
    background-image: radial-gradient(var(--stroke-light) 4%, transparent 12%);
    background-position: 0 0, 50px 50px;
    background-size: 28px 28px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

ul {
    list-style: none;
    padding: 24px;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-gap: 8px;
}

.stroke{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: left;
}

.stroke li {
    width: 32px;
    height: 32px;  
    border-radius: 50%;
    cursor: pointer;
    transition: transform 0.3s;
}
ul li:hover {
    transform: scale(1.1);
}

/* || tools*/

.tools{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0;
    padding: 10px 10px 10px 20px;
}

.tools li{
    cursor: pointer;

}
.tools li:hover {
    transform: scale(1.1);
}
.tools img {
    width: 32px;
    height: 32px;
}

/* || strokes */


.stroke{
    display: flex;
    align-items: center;
    margin: 0;
    padding: 16px 20px;
    justify-content: center;
}

#stroke--small {
    width: 12px;
    height: 12px;  
    background-color: var(--stroke-dark);
}
#stroke--medium {
    width: 20px;
    height: 20px;  
    background-color: var(--stroke-dark);
}
#stroke--large {
    width: 28px;
    height: 28px;  
    background-color: var(--stroke-dark);
}

/* || palette */


.palette{
    display: flex;
    align-items: center;
    margin: 0;
    padding: 16px 20px;
    justify-content: center;
}

.palette li {
    width: 28px;
    height: 28px;  
    border: 1px var(--stroke-dark) solid;  
    border-radius: 50%;
    cursor: pointer;
    transition: transform 0.3s;
}

#palette--pink {
    background-color: #FA94C2;
}
#palette--red {
    background-color: #F66C6C;
}
#palette--orange {
    background-color: #F5943F;
}
#palette--yellow {
    background-color: #F9D948;
}
#palette--green {
    background-color: #74C283;
}
#palette--blue {
    background-color: #6DA6E8;
}
#palette--purple {
    background-color: #696CD4;
}
#palette--black {
    background-color: #4F4F4F;
}
#palette--white {
    background-color: #F6F5F5;
}

.toolbox{
    background-color: var(--background-white);
    display: flex;
    flex-direction: row;
}