
button {
    font-family: var(--ff-body);
}

button:hover{
    background-color: var(--clr-accent-dark);
}

.button--primary{
    padding: 10px 20px;
    background: var(--clr-accent);
    border-radius: 4px;
    border: none;
}

button:hover{
    cursor: pointer;
}

.button--round{
    padding: 10px 20px;
    gap: 10px;
    background: var(--clr-accent);
    border-radius: 100px;
    border: none;
}

.button--large{
    width: 100%;
    background-color: var(--clr-accent);
    border: 0;
    border-radius: 4px;
    font-size: var(--fs-body-regular);
    padding: 12px;
    font-family: "Roboto Mono", monospace;
}

.left{
    position: fixed;
    left: 32px;
    bottom: 32px;
}

.right{
    position: fixed;
    right: 32px;
    bottom: 32px;
}

.button--icon{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 8px;
    gap: 8px;
    background: var(--clr-grey-lightest);
    border: none;
    border-radius: 8px;
}

.pink{
    background-color: var(--clr-accent);
}