.logo--default{
    font-family: var(--ff-heading);
    font-style: normal;
    font-weight: 400;
    font-size: var(--fs-logo);
    line-height: 30px;
    letter-spacing: 0.2em;
    
    position: absolute;
    left: 64px;
    top: 24px;
}

.logo--canvas{
    font-family: var(--ff-heading);
    font-style: normal;
    font-weight: 400;
    font-size: var(--fs-logo);
    line-height: 30px;
    letter-spacing: 0.2em;
}

.logo--final{
    font-family: var(--ff-heading);
    font-style: normal;
    font-weight: 400;
    font-size: var(--fs-logo);
    line-height: 30px;
    letter-spacing: 0.2em;
}