@import url('https://fonts.googleapis.com/css2?family=Patrick+Hand&family=Roboto+Mono&display=swap');

/****************************
global style
*****************************/

:root{
    --text: #2C2C2C;
    --stroke-light: #E3E3E3;
    --stroke-default: #A4A4A4;
    --stroke-dark: #707070;
    --stroke-brown: #CDC1B3;
    --background-white: #FFFFFF;
    --background-grey: #F5F5F5;
    --accent: #FEEAEA;
    --accent-hover: #fee4e4;
}

body{
  margin: 0;
  padding: 0;
}

p{
  font-family: 'Patrick Hand', cursive;
}

a:link {
  text-decoration: none; 
  color: black;
}

a:visited { 
  text-decoration: none; 
  color: black;
}

a:hover { 
  text-decoration: none; 
  color: black;
}

a:active { 
  text-decoration: none; 
  color: black;
}

.small-shadow{
    border: 1px solid #E3E3E3;
    box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.04), 0px 8px 16px rgba(0, 0, 0, 0.08);
    border-radius: 8px;
}

button {
    font-family: 'Roboto Mono', monospace;
}

button:hover{
    background-color: var(--accent-hover);
}

/****************************
home
*****************************/

.home{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    background: url("../assets/background.png") no-repeat center center;
    background-size: cover;
}

.form{
    max-width: 320px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    background: #FFFFFF;
    border: 1px solid #CDC1B3;
    border-radius: 16px;
    padding: 60px;
}

.form form {
    width: 100%
}

.line-block {
    width: 100%; 
    text-align: center; 
    border-bottom: 1px solid #000; 
    line-height: 0.1em;
    margin: 4px 0 4px; 
} 
 
.line-block span{ 
    background:#fff; 
    padding:0 10px; 
}

.large-button{
    width: 100%;
    background-color: var(--accent);
    border: 0;
    border-radius: 4px;
    font-size: 14px;
    padding: 12px;
    margin-bottom: 20px;
    font-family: 'Roboto Mono', monospace;
}

.key-form{
    display: flex;
    flex-direction: column;
}

.key-form p{
    font-size: 12px;
}

.enter-key{
    text-align: left;
}

.key-format{
    text-align: right;
    color: var(--error)
}

.key-input{
    font-size: 14px;
    padding: 12px;
    font-family: 'Roboto Mono', monospace;
}

/****************************
host, player settings
*****************************/

.vl {
    border-left: 1px solid rgb(222, 222, 222);
    height: 80%;
}

.avatar-page{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}

.home-logo{
    font-family: 'Patrick Hand';
    font-style: normal;
    font-weight: 400;
    font-size: 22px;
    line-height: 30px;
    letter-spacing: 0.2em;
    
    position: absolute;
    left: 64px;
    top: 24px;
}

.back-button{
    position: absolute;
    padding: 10px 20px;
    left: 64px;
    bottom: 40px;

    background: #FEEAEA;
    border-radius: 4px;
    border: none;
}

.avatar{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.next-button{
    position: absolute;
    padding: 10px 20px;
    right: 64px;
    bottom: 40px;

    background: #FEEAEA;
    border-radius: 4px;
    border: none;
}

.input{
    font-family: 'Patrick Hand';
    text-align: center;
    font-size: 16px;
    max-width: 120px;
    margin-top: 16px;
    border: none;
    border-bottom: 1px solid #9A9A9A;
}

.copy-button{
    padding: 10px 20px;
    background-color: #FEEAEA;
    border-radius: 4px;
    border: none;
}

.copy-button:hover{
    cursor: pointer;
}

/****************************
loading
*****************************/

.loading{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: #FEFDFD;
}
.loading p{
    text-align: center;
}

/****************************
canvas
*****************************/

.canvas{
    background-color: var(--background-grey);
    background-image: radial-gradient(var(--stroke-light) 4%, transparent 12%);
    background-position: 0 0, 50px 50px;
    background-size: 28px 28px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

ul {
    list-style: none;
    padding: 24px;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-gap: 20px;
}

.stroke li {
    width: 32px;
    height: 32px;  
    border-radius: 50%;
    cursor: pointer;
    transition: transform 0.3s;
}
ul li:hover {
    transform: scale(1.1);
}

/*tool*/

.tools{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0;
    padding: 10px 10px 10px 20px;
}

.tools li{
    cursor: pointer;

}
.tools li:hover {
    transform: scale(1.1);
}
.tools img {
    width: 32px;
    height: 32px;
}

/*stroke*/

.stroke{
    display: flex;
    align-items: center;
    margin: 0;
    padding: 16px 20px;
    justify-content: center;
}

#stroke--small {
    width: 12px;
    height: 12px;  
    background-color: var(--stroke-dark);
}
#stroke--medium {
    width: 20px;
    height: 20px;  
    background-color: var(--stroke-dark);
}
#stroke--large {
    width: 28px;
    height: 28px;  
    background-color: var(--stroke-dark);
}

/*palette*/

.palette{
    display: flex;
    align-items: center;
    margin: 0;
    padding: 16px 20px;
    justify-content: center;
}

.palette li {
    width: 32px;
    height: 32px;  
    border: 1px var(--stroke-dark) solid;  
    border-radius: 50%;
    cursor: pointer;
    transition: transform 0.3s;
}

#palette--pink {
    background-color: #FA94C2;
}
#palette--red {
    background-color: #F66C6C;
}
#palette--orange {
    background-color: #F5943F;
}
#palette--yellow {
    background-color: #F9D948;
}
#palette--green {
    background-color: #74C283;
}
#palette--blue {
    background-color: #6DA6E8;
}
#palette--purple {
    background-color: #696CD4;
}
#palette--black {
    background-color: #4F4F4F;
}
#palette--white {
    background-color: #F6F5F5;
}

.toolbox{
    background-color: var(--background-white);
    display: flex;
    flex-direction: row;
}

.toolbox{
    left: 0px;
    top: 0px;
    margin: 0;
    padding: 0;
}

hr.vertical {
    height:100%; 
    width:0;
    border:1px solid var(--stroke-light);
    margin: 0;
}

.canvas--board{
    margin-top: 20px;
    margin-bottom: 60px;
}

.canvas--download{
    background-color: var(--accent);
    position: absolute;
    padding: 12px;
    right: 64px;
    top: 16px;
}